.post {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-size: 18px;
  padding: 24px;
}

.post h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900!important;
}

.post pre {
  background: #011627;
  border-radius: 8px;
  padding: 10px;
  color: #fffa;
  line-height: 22px;
}

.post pre code {
  background-color: transparent;
  font-family: Consolas;
}

.post code {
  background-color: bisque;
  font-family: inherit;
  padding: 2px;
}

.post p {
  font-family: Arial, Helvetica, sans-serif
}
